$black: #0e1012;
$light-black: #202020;

$white: #FDFDFD;

$grey: #E5E5E5;
$light: #E8E5F0;

$creme: #d7d0c5;

$dark-brown: #302A27;
$light-brown: #965F39;
$lightest-brown: #E1A57D;

$dark-blue: #1A4572;
$light-blue: #445F88;
$lightest-blue: #AFD4EE;

