$black: #0e1012;
$light-black: #202020;

$white: #fdfdfd;

$grey: #d7d7d7;
$light: #e8e5f0;

$creme: #d7d0c5;

$dark-brown: #3f3b37;
$middle-brown: #707068;
$light-brown: #c1c0b6;

$dark-blue: #1a4572;
$light-blue: #445f88;
$lightest-blue: #afd4ee;
