* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk Light", sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: $light-brown;
  color: $dark-brown;
  font-family: "Space Grotesk Light", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

// This selector is used in the root div of all pages in the app
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 15px 0 0 0;
}

#app-content {
  width: 100%;
}

/* Estilizar a barra de rolagem no Chrome e Safari */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: $light-brown; /* Cor de fundo da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: $dark-brown; /* Cor do preenchimento do polegar da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background: $middle-brown; /* Cor do preenchimento do polegar da barra de rolagem ao passar o mouse */
}
